.custom-form-col {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .funny-text {
    font-size: 18px;
    color: #74797e;
    margin-bottom: 20px;
    font-family: 'Comic Sans MS', cursive;
    text-align: center; 
  }
  
  .forgot-password-form {
    max-width: 400px;
    margin: auto;
  }
  
  .forgot-password-message {
    margin-top: 10px;
    color: #dc3545;
    font-size: 14px;
  }

  .subBtn{
    border-radius: 8px;
    color: #ffffff;
  }
  